@model MaKore.Models.Rating

@{
    ViewData["Title"] = "Edit";
}
<div id="container">
    <div class="head">
        <span class="first">We would love to hear your thoughts, concerns or problem</span>
        <div class="ratepanel">
            <a class="create" asp-action="Index">Back to Home page</a>
			<span>Edit your FeedBack</span>
            <a class="return" href='http://localhost:3000/chats'>Return to Chat</a>
        </div>
    </div>
    <div class="box-container">
        <div class="col-md-6">
            <hr>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
               <div class="form-group mt-3 mb-3">
                   <label  asp-for="Name" class="form-label">Name*</label>
                   <input asp-for="Name" type="text" class="form-control " required="" />
                    <span asp-validation-for="Name" class="text-danger"></span>
               </div>
               <div class="form-group mt-3 mb-3">
                   <label asp-for="Grade" class="form-label">Grade*</label>
                <select class="form-select" asp-for="Grade" aria-label="Default select example">
                    <option selected>Select rating</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
               </div>
               <div class="form-group mb-2">
                <label asp-for="Feedback" class="form-label">FeedBack:</label>
                <textarea rows="6" asp-for="Feedback" class="form-control"></textarea>
                <span asp-validation-for="Feedback" class="text-danger"></span>
                @Html.Hidden("Date", DateTime.Now)
            </div>
            <input class="save-feedback" type="submit" value="Save"/>
           </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
